@import "normalize.min.css";
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
*,
::before,
::after {
  box-sizing: border-box;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.container .row [class^="col-"] {
  float: left;
  display: inline;
  position: relative;
  min-height: 1px;
}
.container .row .col-5 {
  width: 5%;
}
.container .row .col-10 {
  width: 10%;
}
.container .row .col-15 {
  width: 15%;
}
.container .row .col-20 {
  width: 20%;
}
.container .row .col-25 {
  width: 25%;
}
.container .row .col-30 {
  width: 30%;
}
.container .row .col-35 {
  width: 35%;
}
.container .row .col-40 {
  width: 40%;
}
.container .row .col-45 {
  width: 45%;
}
.container .row .col-50 {
  width: 50%;
}
.container .row .col-55 {
  width: 55%;
}
.container .row .col-60 {
  width: 60%;
}
.container .row .col-65 {
  width: 65%;
}
.container .row .col-70 {
  width: 70%;
}
.container .row .col-75 {
  width: 75%;
}
.container .row .col-80 {
  width: 80%;
}
.container .row .col-85 {
  width: 85%;
}
.container .row .col-90 {
  width: 90%;
}
.container .row .col-95 {
  width: 95%;
}
.container .row .col-100 {
  width: 100%;
}
html,
body {
  color: #555555;
  background-color: #eaf3ee;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  font-size: 1em;
}
a {
  color: #bb235c;
  text-decoration: none;
}
a:hover {
  color: #a31d52;
}
pre,
code {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
}
pre {
  padding: 1em 2em;
}
pre code {
  font-size: 1em;
}
blockquote {
  font-style: italic;
  margin: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-weight: bold;
  padding-top: 1em;
  margin: 0 0.25em 1em;
  clear: both;
}
h1,
h2,
h3 {
  border-color: #555555;
  border-style: solid;
  border-width: 0 0 1px 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
hr {
  border-color: #555555;
  border-style: solid;
  border-width: 0 0 1px 0;
}
p {
  padding: 0 1em;
}
ol {
  margin-left: 1em;
}
ul {
  padding-left: 2em;
  list-style-type: disc;
}
#nav {
  margin-top: -1em;
  margin-bottom: 3em;
  float: right;
  position: relative;
  left: -50%;
}
#nav ul {
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 5;
  left: 50%;
}
#nav ul a {
  color: #555555;
  display: block;
  padding: 0.5em 2em;
  white-space: nowrap;
}
#nav ul li {
  float: left;
  position: relative;
  margin: 0;
}
#nav ul li:hover {
  color: #555555;
  background-color: #e2ebe6;
}
#nav ul li:hover > a {
  color: #555555;
}
#nav ul li:hover ul {
  left: 0;
}
#nav ul ul {
  border-color: #555555;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background-color: #eaf3ee;
  list-style: none;
  position: absolute;
  left: -9999px;
  padding: 0;
}
#nav ul ul li {
  padding-top: 1px;
  float: none;
  margin: 0;
}
