@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=VT323);

@font-color: #f0f;
@active-font-color: #00b;
@border-color: #f0f;
@background-color: #00b;
@background-active-color: #f0f;
@accent1-color: #ff0;
@accent2-color: #f80;

@spacing: 1em;
@base-font-size: 1em;
@monospaced-font-size: 1.2em;
@border-width: 3px;

@sans: 'Press Start 2P', sans-serif;
@monospace: 'VT323', monospace;

@list-style-type: square;
